* {
    margin: 0px;
    padding: 0px;
}

.bg-blue {
    background: #233a95;
}

.headerWrapper .top-strip {
    padding: 8px 0px;
}

.headerWrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headerWrapper .top-strip p {
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.headerWrapper .header {
    width: 100%;
    height: auto;
    padding: 25px 0px;
}

.logoWrapper img {
    width: 100%;
    float: left;
}

.headerWrapper .header .part2 .counrtyDropdown {
    width: 150px;
    height: 60px;
    min-width: 150px;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.headerWrapper .header .part2 .counrtyDropdown .label {
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: rgba(0, 0, 0, 0.7) !important;
    line-height: 16px;
}

.headerWrapper .header .part2 .counrtyDropdown .name {
    font-size: 14px !important;
    text-transform: capitalize !important;
    color: rgba(17, 88, 194, 0.9) !important;
    font-weight: 700;
    line-height: 16px;
}

.locationModel .MuiPaper-elevation {
    padding: 25px;
    position: relative;
}

.locationModel .close_ {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 40%;
}

.locationModel .close_ svg {
    font-size: x-large;
}

.locationModel .countryList {
    margin-bottom: 0px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.locationModel .countryList li {
    width: 100%;
    list-style: none;
}

.locationModel .countryList li button {
    width: 100%;
    text-transform: capitalize;
    color: black;
    justify-content: flex-start;
    padding: 10px 0px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Search Bar start here */

.headerSearch {
    position: relative;
    width: 60%;
    height: 60px;
    background: #d8dadb;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerSearch input {
    background: transparent !important;
    outline: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    font-size: large;
    width: 100%;
    height: 40px;
    border: 0px !important;
    padding: 0px 20px !important;
}

.headerSearch Button {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    color: black;
    font-size: x-large;
}

.part3 .user svg {
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #000;
}

.part3 .cart svg {
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 30px;
    width: 30px;
    color: #000;
}

.part3 .count {
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #ea2b0f;
    border-radius: 50%;
    color: white;
    width: 25px;
    height: 25px;
}

/* Search Bar end here */

/* Categories start here */
/* nav part 1 */
nav .allCatTab {
    background: #2bbef9;
    padding: 8px 15px;
    border-radius: 25px;
    margin-left: 20px;
    box-sizing: border-box;
}

nav .allCatTab * {
    color: white;
}

nav .allCatTab:hover {
    background: #2bbef9;
}

.catText {
    font-weight: 500;
}

nav .allCatTab svg {
    font-size: 20px;
}

nav .navPart1 {
    max-width: 20%;
    flex: 0 0 20%;
}

nav .navPart1 .catWrapper {
    position: relative;
}

nav .navPart1 .catWrapper .sideBarNav {
    width: 100%;
    min-height: 100px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out
}

nav .navPart1 .catWrapper:hover .sideBarNav {
    opacity: 1;
    visibility: inherit;
    top: 100%;
}

nav .navPart1 .catWrapper .sideBarNav ul li {
    width: 100%;
    list-style: none;
}

nav .navPart1 .catWrapper .sideBarNav ul li a {
    color: #000;
    text-decoration: none;
    width: 100%;
    justify-content: flex-start;
}

/* nav part 2 */
nav .navPart2 {
    max-width: 80%;
    flex: 0 0 80%;
}

nav .navPart2 ul {
    margin-bottom: 0px;
}

nav .navPart2 ul li {
    position: relative;
}

nav .navPart2 ul li a {
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 10px 18px;
    transition: all 0.2s ease-in-out;
    border-radius: 25px;
    box-sizing: border-box;
}

nav .navPart2 ul li a:hover {
    background: #f0faff;
    color: #2bbef9;
}

nav .navPart2 ul li .subMenu {
    position: absolute;
    top: 150%;
    left: 0px;
    min-width: 200px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1 ease-in-out;
}

nav .navPart2 ul li:hover .subMenu {
    opacity: 1;
    visibility: inherit;
    top: 100%;
}

nav .navPart2 ul li .subMenu a {
    display: block;
    width: 100%;
    justify-content: flex-start;
    border-radius: 0px;
    text-transform: capitalize;
    font-weight: 500;
}

/* Categories end here */

/* slider start here  */
/* Swiper Container Padding for Pagination dots */
.swiper {
  padding-bottom: 50px !important;
}

/* Card Styling */
.product-card {
  transition: transform 0.3s ease;
  border-radius: 15px !important;
}

.product-card:hover {
  transform: translateY(-5px);
}

.img-container img {
  height: 200px;
  object-fit: contain;
}

/* Customizing Navigation Arrows */
.swiper-button-next, .swiper-button-prev {
  background: white;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 18px !important;
  font-weight: bold;
  color: #333;
}

/* Customizing Pagination Dots */
.swiper-pagination-bullet-active {
  background: #dc3545 !important; /* Bootstrap Danger color */
}

/* Button style */
.btn-add-to-cart {
  background-color: #d32f2f !important;
  border: none;
  font-weight: 500;
}

/* slider end here  */